@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Neue Machina"), local("NeueMachina"),
    url("../fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Neue Machina"), local("NeueMachina"),
    url("../fonts/NeueMachina-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Syne"), local("Syne"),
    url("../fonts/Syne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Syne"), local("Syne"),
    url("../fonts/Syne-UltraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Poppins"), local("Poppins"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Poppins"), local("Poppins"),
    url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
}

.custom-cursor {
  --x: 50%;
  --y: 50%;
  --w: 1.5rem;
  --h: 1.5rem;
  --scale: 1;

  @apply transition-all duration-100 ease-linear;
  @apply pointer-events-none fixed z-[9999] hidden rounded-full text-xs font-semibold text-slate-900 lg:block;
  top: var(--y);
  left: var(--x);
  width: var(--w);
  height: var(--h);
  transform: scale(var(--scale));
  background-color: theme("colors.slate.50");

  &.hover {
    @apply border border-slate-900;
  }
}

button:hover ~ .custom-cursor {
  @apply hidden;
}

#root {
  @apply min-h-screen;
}

.app-container {
  @apply mx-auto w-full max-w-[1440px] px-6;
}

@layer base {
  body {
    @apply font-sans text-base tracking-tight text-custom-black-400;
    @apply bg-custom-white-900;
  }

  a,
  button {
    @apply cursor-pointer;
  }

  button {
    @apply select-none;

    &,
    input {
      @apply disabled:cursor-not-allowed disabled:opacity-50;
    }
  }
}

@layer components {
  /* Tooltip */
  .tooltip {
    @apply relative h-auto;

    &-text {
      transition: all 0.3s ease-in-out;
      @apply invisible absolute z-[5] whitespace-nowrap bg-custom-black-500 py-1.5 px-4 text-sm text-custom-white-900 opacity-0;
      bottom: -20px;
      right: -55%;

      &::before {
        content: "";
        @apply absolute -top-[10%] z-[5] h-3 w-3 bg-custom-black-500;
        right: 15px;
        transform: rotate(45deg);
      }

      &-center {
        transition: all 0.3s ease-in-out;
        @apply invisible absolute z-[5] whitespace-nowrap bg-custom-black-500 py-1.5 px-4 text-sm text-custom-white-900 opacity-0;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);

        &::before {
          content: "";
          @apply absolute -top-[10%] z-[5] h-3 w-3 bg-custom-black-500;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }

      &-left {
        transition: all 0.3s ease-in-out;
        @apply invisible absolute z-[5] whitespace-nowrap bg-custom-black-500 py-1.5 px-4 text-sm text-custom-white-900 opacity-0;
        bottom: -20px;
        left: -55%;

        &::before {
          content: "";
          @apply absolute -top-[10%] z-[5] h-3 w-3 bg-custom-black-500;
          left: 15px;
          transform: rotate(45deg);
        }
      }
    }

    &:hover {
      .tooltip-text {
        &,
        &-center,
        &-left {
          @apply visible -bottom-[50px] opacity-100 delay-700;
        }
      }
    }
  }

  /* Button */
  .btn {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    @apply border-2 border-transparent bg-custom-black-900 py-3 px-6 text-sm font-medium text-white md:text-base;
    @apply hover:bg-neutral-700;
    @apply focus:border-custom-black-900 focus:bg-transparent focus:text-custom-black-900;

    &-outline {
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      @apply border border-custom-black-900 bg-transparent py-3 px-6 text-sm font-medium text-black md:text-base;
      @apply hover:bg-neutral-200;
      @apply focus:bg-custom-black-900 focus:text-white;
    }

    &-default {
      @apply py-3 px-6 font-medium;
    }
  }

  /* Navbar */
  .navbar {
    @include defaultTransition();
    @apply absolute top-0 left-0 z-50 w-full bg-transparent;

    &.scrolled {
      animation: navbar-scrolled 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      @apply fixed top-0 border-b border-custom-white-800 bg-custom-white-900;
    }

    &-container {
      @apply mx-auto flex h-[75px] w-full max-w-[1440px] items-center justify-between px-6;
    }

    &-menu {
      @include defaultTransition();
      @apply invisible absolute left-0 top-0 z-[-5] h-screen w-full overflow-hidden opacity-0;
      @apply md:visible md:static md:z-[unset] md:h-auto md:w-auto md:opacity-100;

      &.active {
        @apply visible bg-black bg-opacity-25 opacity-100 md:bg-transparent;
      }

      > ul {
        @include defaultTransition();
        @apply absolute -right-[275px] top-0 z-10 h-screen w-full max-w-[250px] overflow-y-auto bg-custom-white-900 pt-[75px];
        @apply md:static md:right-[unset] md:top-[unset] md:flex md:h-auto md:w-auto md:max-w-[unset] md:items-center md:gap-6 md:bg-transparent md:pt-0;

        &.active {
          @apply right-0;
        }

        > li {
          > a {
            @include defaultTransition();
            @apply relative block py-3 px-6;
            @apply md:py-1 md:px-1 lg:px-2;

            &::before {
              content: "";
              @include defaultTransition();
              @apply absolute bottom-1.5 left-6 z-10 h-[.1rem] w-0 bg-custom-black-900;
              @apply md:left-1 md:bottom-0 lg:left-2;
            }

            &.active {
              @apply cursor-not-allowed text-custom-black-900;

              &::before {
                @apply w-8;
              }
            }
          }
        }
      }
    }

    &-burger {
      @apply relative cursor-pointer;
      @apply transition-all duration-300 ease-in-out;
      @apply flex items-center justify-center;
      @apply h-10 w-10;
      @apply md:hidden;

      > span {
        @include defaultTransition();
        @apply absolute h-[0.1rem] w-6 bg-custom-black-900;

        &:nth-child(1) {
          animation: navbar-burger-icon-1 0.5s cubic-bezier(0.4, 0, 0.2, 1)
            forwards;
        }

        &:nth-child(3) {
          animation: navbar-burger-icon-3 0.5s cubic-bezier(0.4, 0, 0.2, 1)
            forwards;
          @apply ml-2 w-4;
        }
      }

      &.active {
        > span {
          &:nth-child(1) {
            animation-name: navbar-burger-icon-1\:active;
          }

          &:nth-child(2) {
            @apply w-0;
          }

          &:nth-child(3) {
            animation-name: navbar-burger-icon-3\:active;
          }
        }
      }
    }
  }

  /* Popup */
  .popup {
    @include defaultTransition();
    @apply invisible fixed top-0 left-0 z-[60] flex h-screen w-full items-center justify-center bg-black bg-opacity-50 opacity-0;

    &.active {
      @apply visible opacity-100;
    }

    &-bottom {
      @include defaultTransition();
      @apply invisible fixed top-0 left-0 z-[60] flex h-screen w-full items-end justify-center bg-black bg-opacity-50 opacity-0 md:items-center;

      .popup-content {
        @include popupContent;
        @include defaultTransition();
        @apply translate-y-5 transform;
      }

      &.active {
        @apply visible opacity-100;

        .popup-content {
          @apply translate-y-0 transform;
        }
      }
    }

    &-content {
      @include popupContent;
    }
  }

  /* Marquee */
  .marquee {
    animation: marquee 50s linear infinite;
    animation-direction: normal;

    &-root {
      display: flex !important;
      flex-direction: row !important;
    }
  }

  /* Hero */
  .hero {
    &-image {
      --translate-y: 0px;

      @apply translate-y-[var(--translate-y)];
    }
  }

  /* Product Slider */
  .product-slider {
    // &-root {
    //   @apply flex flex-row items-center;
    // }

    &-container {
      @include defaultTransition();
      @apply flex flex-row items-center overflow-x-auto;
      scroll-behavior: smooth;
      transform: translateX(var(--translate-x));

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-animation {
    &-load {
      --animation-delay: 0.5s;
      transition: transform 0.5s ease-in-out;
      opacity: 0;
      animation: img-load 1s var(--animation-delay) ease-in-out forwards;
    }
  }
}

/* Custom Background */
.bg-noise {
  &-pink {
    background-image: url("../assets/img/bg-noise-pink.jpg");
    background-size: cover;
  }

  &-white {
    background-image: url("../assets/img/bg-noise-white.jpg");
    background-size: cover;
  }

  &-black {
    background-image: url("../assets/img/bg-noise-black.jpg");
    background-size: cover;
  }
}

@import "./animations";
@import "./loadings";
